#myCanvas {
    border: 4px ridge yellow;
    background-color: honeydew;
}
.body_background {
    background-color: indianred;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
}
h1 {
    color: lightblue;
    font-size: 20px;
}
span {
    color: lightpink;
    font-size: 18px;
}